h1 {
  margin: 10px;
}

.connection {
  margin: 15px 10px;
}

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f9fffe;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  margin: 20px 10px;
  padding: 15px;
  overflow-y: scroll;
}

.chat p {
  padding: 10px;
  font-size: 15px;
  line-height: 1;
  word-break: break-word;
  border-radius: 5px;
  max-width: 60%;
}

.message {
  margin: 10px 0;
  align-self: flex-end;
  background: #d2d5ff;
}

.answer {
  margin: 10px 0;
  align-self: flex-start;
  background: #ade6e0;
}

.location {
  margin: 10px 0;
  align-self: flex-end;
  background: #ffe1dc;
}

.service {
  display: flex;
  width: 435px;
  height: 30px;
  margin: 10px;
}

.input {
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  background: #f9fffe;
  width: 200px;
  height: 30px;
  padding-left: 5px;
}

.input::placeholder {
  padding: 5px;
}

.input:focus {
  padding-left: 5px;
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.button {
  margin-left: 10px;
  padding: 0;
  width: 100px;
  height: 35px;
  border: 2px solid #c0c3e9;
  background: #c0c3e9;
  border-radius: 5px;
  cursor: pointer;
}